<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Planète Geek Dating</title>

</head>
<body>
    <header>
        <div class="logo">
            <h1><a class="home_button" href={{url_for('index')}}>Planète Geek Dating</a></h1>
        </div>
    </header>
    <title>Hello from Flask</title>
    {% if person %}
    <h1>Hello {{ person }}!</h1>
    {% else %}
    <h1>Hello, World!</h1>
    {% endif %}

    <form action={{ url_for('exampleflask') }} method="GET">
        <label for="username">Nom d'utilisateur :</label>
        <br><br>
        <input type="text" id="username" name="username" 
               placeholder="{{ username or '' }}" required>
        <br><br>
        <label for="sexe">Sexe :</label>
        <br><br>
        <input type="text" id="sexe" name="sexe" 
               placeholder="{{ sexe or '' }}">
        <br><br>
        <button type="submit">Modifier</button>
    </form>

</body>


</html>