<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Planète Geek Dating</title>

</head>
<body>
    <header>
        <div class="logo">
            <h1><a class="home_button" href="{{url_for('index')}}>Planète Geek Dating</a></h1>
        </div>
    </header>

    <title>Hello from Flask</title>
    {% if person %}
    <h2>Hello {{ person }}!</h2>
    {% else %}
    <h2>Hello, World!</h2>
    {% endif %}
 
    {% if user_id %}
    <h1>Welcome {{ user_id }}!</h1>
    {% endif %}

    <form action = "{{ url_for('exampleflask') }}" method = "POST">
        <p><h3>Enter userID</h3></p>
        <p><input type = 'text' name = 'nm' value="{% if user_id %}{{ user_id }}{% endif %}"/></p>
        <p><input type = 'submit' value = 'Login'/></p> 
    </form>

    

</body>


</html>