<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Planète Geek Dating - Le site de rencontre dédié aux passionnés de technologie, de science-fiction, de jeux vidéo et de culture geek.">
    <title>Planète Geek Dating</title>
    <link rel="stylesheet" href={{url_for('static', filename='styles.css')}}>
    <link rel="icon" href={{url_for('static', filename='logo rond.png')}} type="image/webp">
</head>
<body>
    <header>
        <div class="logo">
            <img src={{url_for('static', filename='logo circulaire.webp')}} alt="Logo Planète Geek Dating">
            <h1><a class="home_button" href={{url_for('index')}}>Planète Geek Dating</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href={{url_for('index')}}>Accueil</a></li>
                <li><a href={{url_for("index")}}#signup>Inscription</a></li>
                <li><a href={{url_for('Contacts')}}>Contact</a></li>
                <li><a href={{url_for('recherche')}}>Recherche</a></li>
                <li><a href={{url_for('profil')}}>Prooooooooooooooooooooooooooooooooooooooooooooofil</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="home">
            <h2>Bienvenue sur Planète Geek Dating</h2>
            <p>Rencontrez des personnes partageant vos passions et découvrez un univers où la culture geek unit les cœurs.</p>
            <a href="#signup" class="cta-button">Rejoignez-nous maintenant</a>
        </section>

        <section id="features">
            <h2>Pourquoi choisir Planète Geek Dating ?</h2>
            <ul>
                <li>Des Matchs basés sur vos centres d'intérêt !</li>
                <li>Vous pouvez filtrer les utilisateurs selon vos propres critères !</li>
            </ul>
        </section>

        <section id="signup">
            <h2>Inscrivez-vous maintenant</h2>
            <form action="#" method="POST">
                <label for="username">Nom d'utilisateur :</label>
                <br>
                <br>
                <input type="text" id="username" placeholder="Elouan Musk" name="username" required>
                
                <label for="age">Âge :</label>
                <br>
                <br>
                <input type="number" id="age" name="age" placeholder="+ de 18 ans..." required>
                
                <label for="sexe">Sexe :</label>
                <br>
                <br>
                <input type="text" id="sexe" name="sexe" placeholder="Ex : hélicoptère AC 130 de combat" required> 
                
                <label for="jeu">Jeu favori :</label>
                <br>
                <br>
                <input type="text" id="jeu" name="jeu" placeholder="Ex : Zelda, League of Legends...">

                <label for="temps">Temps d'écran moyen (h/jour) :</label>
                <br>
                <br>
                <input type="number" id="temps" name="temps" min="0" max="24" placeholder="Ex : 5">

                <label for="addiction">As-tu une addiction ? Si oui, laquelle :</label>
                <br>
                <br>
                <input type="text" id="addiction" name="addiction" placeholder="Ex : Café, jeux...">

                <label for="douches">Nombre de douches par semaine :</label>
                <br>
                <br>
                <input type="number" id="douches" name="douches" min="0" max="60" placeholder="Ex : 20">

                <label for="exs">Nombre d'ex :</label>
                <br>
                <br>
                <input type="number" id="exs" name="exs" min="0" placeholder="Ex : 3">

                <label for="soda">Soda favori :</label>
                <br>
                <br>
                <input type="text" id="soda" name="soda" placeholder="Ex : Coca-Cola, Fanta...">

                <label for="bonbon">Bonbon favori :</label>
                <br>
                <br>
                <input type="text" id="bonbon" name="bonbon" placeholder="Ex : Dragibus, Haribo...">

                <label for="selfcontrol">Pourcentage de self-control :</label>
                <br>
                <br>
                <input type="number" id="selfcontrol" name="selfcontrol" min="0" max="100" placeholder="Ex : 80">

                <label for="discord">Ton Discord :</label>
                <br>
                <br>
                <input type="text" id="discord" name="discord" placeholder="Ex : GeekMaster#1234">
                
                <button type="submit">S'inscrire</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Planète Geek Dating. Tous droits réservés.</p>
        <ul>
            <li><a href="#terms">Conditions d'utilisation</a></li>
            <li><a href="#privacy">Politique de confidentialité</a></li>
        </ul>
    </footer>
    <a href="#top" id="back-to-top" class="back-to-top">&#8679;</a>
    <div id="top"></div>
</body>
</html>
