<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Résultats de la recherche - Planète Geek Dating">
    <title>Résultats de la recherche</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href={{url_for('static', filename='logo rond.png')}} type="image/webp">
</head>
<body id="top">
    <header>
        <div class="logo">
            <!-- Logo du site -->
            <img src="{{url_for('static', filename='logo circulaire.webp')}}" alt="Logo Planète Geek Dating">
            <!-- Titre principal avec un lien vers l'accueil -->
            <h1><a class="home_button" href="{{url_for('index')}}">Planète Geek Dating</a></h1>
        </div>
        <!-- Menu de navigation -->
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Accueil</a></li>
                <li><a href="{{url_for('index', section='signup')}}">Inscription</a></li>
                <li><a href="{{url_for('Connexion')}}">Connexion</a></li>
                <li><a href="{{url_for('Contacts')}}">Contact</a></li>
                <li><a href="{{url_for('recherche')}}">Recherche</a></li>
                <li><a href="{{url_for('profil')}}">Profil</a></li>
                <li><a href="{{url_for('exampleflask')}}">Exemple</a></li>

            </ul>
        </nav>
    </header>
    

    <main>
        <section id="results">
            <h2>Résultats de la recherche</h2>
            <div class="profile-list">
                <!-- Exemple de profil -->
                <div class="profile-card">
                    <h3>Utilisateurs trouvé(e)(s) :</h3>
                    
<!--Faire une liste ici de tous les noms renvoyés par la recherche pour qu'on puisse clickez dessus et que ça nous renvoie vers la page résultat de chacun avec toutes les infos-->
            {% for pseudo in data %}
            <li>
                <a class="linkin" href="{{ url_for('profil_user_', username=pseudo) }}">{{ pseudo }}</a>
            </li>
            {% endfor %}


                </div>

                <!-- Exemple de profil -->
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Planète Geek Dating. Tous droits réservés.</p>
        <ul>
            <li><a href="#terms">Conditions d'utilisation</a></li>
            <li><a href="#privacy">Politique de confidentialité</a></li>
        </ul>
    </footer>
    <a href="#top" class="back-to-top" aria-label="Remonter en haut">⬆️</a>
</body>
</html>
